node_modules
.next
out
.git
.gitignore
Dockerfile
docker-compose.yml
.dockerignore
Caddyfile
npm-debug.log*
yarn-error.log*
README.md
README.docker.md
.env
.env.*
!.env.example
.vscode
.idea
.DS_Store
coverage
